/* Loader.css */
.loader {
    width: 200px;
    height: 200px;
    background-color: #ffffff; /* White background */
    background-image: url('/images/water.webp'); /* If you have a white .webp image */
    background-size: cover;
    background-position: center;
    margin: 0 auto; /* Center the loader */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.loader_back {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}